::selection {
	background: #999;
    color: #fff;
}

.footer {
	padding: 0rem 1.5rem 0rem !important;
	background: none !important;
}

.hero {
	background-image: url("background.jpg") !important;
	 /* background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("background.jpg") !important; */
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
	padding-top: 9em;
	padding-bottom: 25em;
}
.nav-bar {
	background-color: #000;
	height: 40px;
}
.navbar-item, .navbar-link {
	font-size: 14px;
}

.map-center {
	/* map has a fit without it ;) */
	display: flex;
	position: relative;
	margin: 0; 
	justify-content: center;
}